<template name='editprofile'>
    <div class="ui stackable grid column">
        <div class="twelve wide column" style="margin: auto;">
           <h1 class="menuitem dtubesidebarmenu dsp-inh pdg-non">Edit account info</h1>
           <div style="margin-right: 25%">
                <form class="ui form" id="editprofile">
                     <div class="field">
                        <label>About</label>
                        <input id="tags" name="tags" value="{{inputTags content.tags}}">
                    </div>
                </form>
                 <button class="ui  red right labeled dtube icon button" type="button" form="editprofile" style="margin-bottom:10px; margin-right: 75%">
                    <div style="display:inline-block;padding: 0.8em 1em;">
                        Edit profile
                    </div>
                   <i class="checkmark icon red" style="background: white;opacity: 1;"></i>
                </button>
           </div>
        </div>
    </div>
</template>