
h1, h2, h3, h4, h5 {

}

h1 {    }
h2 {  font-size: 1.2em;  }
h3 {    }
h4 {    }
h5 {    }


.block-header
{
  margin-bottom: 5px;
}

.block-header a {
  color: rgb(60, 60, 60);
}

.nightmode .block-header a {
  color: white;
}


.pusher .ui.divider
{
  border-top: 1px solid rgb(240, 240, 240);
  border-bottom: none;
  margin: 25px 0;
}
body.nightmode .pusher .ui.divider
{
  border-top: 1px solid rgb(40, 40, 40);
}


.padding-side
{
  padding-left: 20px;
  padding-right: 20px;
}

.scaledropdown
{
  transform: scale(0.5);
}

.input.inputLarge {
  width: 400px;
}

.inputLarge > input {
  max-height: 36px;
}

.article {
  padding: 65px 0em 4em 0em;
  width: 100%;
}

.article.mainsided
{
  padding: 65px 0em 4em 210px!important;
}


.icon .menuIcon {
  font-size: 1.5em;
  margin: 0;
}

.upvoteComment {
  transition: font 5s ease-in
}

.upvoteComment > i {
  transition: font 0s ease-in
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#textlogo
{
  padding: 0 !important;
  margin: 0 22px 0 10px !important;
}

#textlogo:hover
{
  background-color: transparent;
}

.sidebartoggleicon
{
  padding: 0 !important;
  margin: 0 22px 0 22px !important;
}

.mobiletopbar .sidebartoggleicon
{
  padding: 0 !important;
  margin: 0 20px 0 20px !important;
}

#sidebar .icon.dtubesidebaricon
{
  padding: 0;
  margin: 0 16px 0 23px;
  font-size: 1.22em;
  text-align: center;
}

#sidebar.mobile .icon.dtubesidebaricon
{
  margin: 0 6px 0 21px;
  font-size: 1em;
}

#sidebar.mobile .menuitem
{
  padding-left: 20px;
  padding-right: 20px;
}



#sidebar.desktop.left.sidebar,
#sidebar.desktop.right.sidebar
{
  z-index: 10;
  top: 57px;
  background: rgb(250, 250, 250);
  min-width: 212px;
}

#sidebar.mobile.left.sidebar,
#sidebar.mobile.right.sidebar
{
  top: 52px;
  z-index: 10;
  background-color: rgb(250, 250, 250);
  min-width: 162px;
}

#sidebar.nightmode.desktop.left.sidebar,
#sidebar.nightmode.desktop.right.sidebar,
#sidebar.nightmode.mobile.left.sidebar,
#sidebar.nightmode.mobile.right.sidebar
{

}

#sidebar .ui.divider
{
  margin: 0;

}

#sidebar.ui.vertical.inverted.menu .item:before
{
  background: none;
}

#sidebar .sectionslist
{
  padding: 15px 0;
}

#sidebar .sectionslist a
{
  display: block;
  height: 3em;
  line-height: 2.8em;
}

#sidebar .tagslist
{
  padding: 15px 0;
}

#sidebar .tagslist a
{
  display: block;
  height: 1.6em;
  line-height: 1.6em;
  padding: 0 22px;
  color: rgb(130, 130, 130);
  font-weight: 500;
  font-style: italic;
}

#sidebar.mobile .tagslist a
{
  font-size: 0.9em;
}

#sidebar .sectionslist a:hover,
#sidebar .tagslist a:hover
{
  background-color: rgb(233, 233, 233);
}

#sidebar .sectionslist a.nightmodetext:hover,
#sidebar .tagslist a.nightmodetext:hover
{
  font-weight: inherit;
  color: rgb(242, 242, 242);
  background-color: rgb(61, 61, 61);
}

#sidebar .sectionslist a:hover i
{
  color: #ff0009;
}

#sidebar.nightmode .sectionslist a:hover i
{
  color: white;
}

#sidebar.nightmode .sectionslist a:hover .activemenu i
{
  color: #ff0009;
}

#sidebar .dtubesidebartitle
{
  color: rgb(20, 20, 20);
}

#sidebar.mobile .dtubesidebartitle {
    font-size: 0.9em;
}

#sidebar .dtubesidebartitle.trendingtitle
{
  font-size: 1rem;
  padding: 2px 0px 10px 22px;
  text-transform: uppercase;
  color: rgb(80, 80, 80);
  font-weight: 400;
}

#sidebar.mobile .dtubesidebartitle.trendingtitle
{
  font-size: 0.9rem;
  padding: 2px 0px 10px 20px;
}



main
{
  max-width: 100%;
  margin:auto;
}


.mainmobile
{
  width: 90%;
}



.notificationdtube
{
  background-color: rgb(48, 48, 48);
  border-radius: 60px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 12px;
}

.notificationdtubeactive
{
  background-color: rgb(255, 13, 13);
  border-radius: 60px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 12px;
}

.circular .icon
{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.circular .icon:hover
{
  background-color: rgb(248, 248, 248);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#snapimg {
  max-height: 140px;
  object-fit: cover;
}

li {
  height: 140px;
  min-width: 100px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 5px 0;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
}

li img,
#status {
  -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

li.is-loading {
  background-color: black;
}

li.is-broken {
  background-color: #be3730;
  width: 120px;
}

li.is-loading img,
li.is-broken img {
  opacity: 0;
}

.buttons { margin-bottom: 1.0em; }

button {
  font-size: 18px;
  padding: 0.4em 0.8em;
  font-family: sans-serif;
}

#status {
  opacity: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  background: hsla( 0, 0%, 0%, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 2; /* over other stuff */
}

.ui.form textarea:focus {
  outline: none !important;
  border:1px solid rgb(175, 175, 175);
  box-shadow: 0 0 2px rgb(180, 180, 180);
}

.customtitlelink
{
  color: #262626;
  font-family: 'Roboto Medium', 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 1rem;
  max-height: 3.2rem;
  line-height: 1rem;
}

.customlink
{
  color: rgba(20, 20, 20, 0.6);
}

.customlink:hover
{
  color: rgba(20, 20, 20, 1);
}

.sidebarlink
{
  color: rgb(80, 80, 80);
  font-weight: 300;
}

.sidebarlink:hover
{
  color: black;
}

.mobile.sidebar  .sidebarlink
{
  font-size: 0.9em
}

.mobile.sidebar .mobilesidebarlinks {
  margin-top: 20px;
}

.mobile.sidebar .mobilesidebarspacer {
  height:40px;
}



.item.sidebarlink
{
  color:rgba(100, 100, 100, 0.87);
  font-weight: 300;
}

.customlink:active
{
  color:rgba(0, 0, 0, 0.87);
}

.customlink:link
{
  color:rgba(0, 0, 0, 0.87);
}

.customlink:visited
{
  color:rgba(32, 32, 32, 0.87);
}

.ddvright
{
  font-size: 15px;
  float: right;
  margin-left: 5px;
}

.lefter55
{
  left:-55px;
}

.boxdisplayer
{
  display:-webkit-box;
  width: 100%;
}


.videohmore
{
  font-size: 18px;
  float: right;
  margin-left: 5px;
}


.nosnap
{
  color:rgb(248, 248, 248);
}

.videodesktop
{
  width:78%;
  display:inline-block;
}

.videomobile
{
  width:100%;
  display:inline-block;
}

.image.channel{
  width:128px;
  height:128px;
  border-radius: 100px!important;
  margin-bottom: -15px;
  position: initial;
  border: white 5px solid;
}

.padder{
  padding-left:5px;
}

.ui.computergrid {
  -webkit-box-orient: inherit;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: inherit !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0em;
  width: 93.75%
}


.ui.tabletgrid {
  margin-top: 15px;
  overflow-y: hidden;
}

.ui.noshadow{
  border-width: 0px;
  -webkit-box-shadow: 0px 0px 0px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 0px 0px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0;
}

.ui.onepborder{
  border-width: 1px!important;
}

.mobiletopbar{
  height:52px;
  z-index:9000;
}
.mobilelogoheader{
  float:left;margin-left: -15px;height:52px;
}
.mobiletopbaritem{
  padding: 0em;
  margin: 0px;
  font-size:1.5em;
}


#subscriberslist::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#subscriberslist::-webkit-scrollbar
{
	width: 2px;
	background-color: #F5F5F5;
}

#subscriberslist::-webkit-scrollbar-thumb
{
	background-color: #ff0000;
}

.pushable::-webkit-scrollbar-track
{
	background-color: rgb(8, 8, 8);
}

.pushable::-webkit-scrollbar
{
	width: 8px;
	background-color: #fafafa;
}

.pushable::-webkit-scrollbar-thumb
{
  background-color: #fafafa;;
  border-top:    0px;
  border-right:  1px solid rgb(12, 12, 12);
  border-bottom: 0px;
  border-left:   1px solid rgb(12, 12, 12);
}

.desktop.sidebar::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.desktop.sidebar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.desktop.sidebar::-webkit-scrollbar-thumb
{
	background-color: #777777;
}

.channelsubscriberslist::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.channelsubscriberslist::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.channelsubscriberslist::-webkit-scrollbar-thumb
{
	background-color: #777777;
}
.icon-star-empty3:before{content:"\ece0";}
.icon-star-full2:before{content:"\ece2";}