<template name="topbar">
  {{#if isSearchingMobile}}
    {{> mobilesearch}}
  {{else}}
    <div class="ui large borderless main menu fixed" style="height:57px;z-index:9000;">
      <div class="left floated menu" style="width:60%">
        <div class="sidebartoggleicon item header" style="cursor: pointer;">
          <i class="sidebar icon" style="font-size:1.4em; margin:1px 0 0 0;"></i>
        </div>
        <a href={{location.pathname}} class="blacklogo header item" id='textlogo'>
            <img  alt="" style="width:90px;" src="DTube_files/images/DTube_Black.svg" >
        </a>
        <a href={{location.pathname}} class="whitelogo header item dsp-non" id='textlogo'>
          <img  alt="" style="width:90px;" src="DTube_files/images/DTube_White.svg" >
      </a>
        <div class="ui item grid tablet only computer only" style="width:inherit;">
          <div class="ui search wid-ful">
            <div class="ui icon input wid-ful">
              <form class='searchForm wid-ful'>
                <input id='dsearch' type="text" name='search' placeholder="{{ translate 'TOPBAR_PLACEHOLDER_SEARCH_VIDEOS'}}" autocomplete="off">
              </form>
              <i class="search icon"></i>
            </div>
            <div class="results">
              {{#each searchSuggestions}}
              <a class="result">
                <div class="content">
                  <div class="title">{{this}}</div>
                </div>
              </a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="right floated menu">
        <a id="mobilesearch" class="ui item grid mobile only" style="margin:0px;padding: 0.92857143em 1.14285714em;">
          <i class="search icon" style='font-size:1.3em; margin:0;padding:0;'></i>
        </a>
        {{#if isLoggedOn}}
          <a href='/upload' class="ui item" title='{{ translate "TOPBAR_TOOLTIP_UPLOAD_VIDEO"}}'>
            <i class="cloud upload icon" style='font-size:1.3em; margin:0;'></i>
          </a>
          <!--<a href='/golive' class="ui item" title='{{ translate "TOPBAR_TOOLTIP_GO_LIVE"}}'>-->
            <!--<i class="podcast icon" style='font-size:1.3em; margin:0;'></i>-->
          <!--</a>-->
        {{else}}
        <a class="ui item" href='/login' title='{{ translate "TOPBAR_TOOLTIP_UPLOAD_VIDEO"}}'>
          <i class="cloud upload icon" style='font-size:1.3em; margin:0;'></i>
        </a>
        {{/if}}
        {{> notificationdropdown}}
        {{> settingsdropdown}}
        {{#if isLoggedOn}}
        {{> users}}
        {{else}}
        <a class="ui item loginitem">
            {{>buttonlogin}}
        </a>
        {{/if}}
      </div>
    </div>
  {{/if}}
</template>
