<template name='buttonsubscribe'>
    <div class="ui red dtube button subscribe" tabindex="0">
        <div style="display:inline-block;padding: 0.8em 1em;">
            {{ translate 'VIDEO_SUBSCRIBE'}}
        </div>
        <div class="ui label btnlabel">
            {{{subCount info.author}}}
        </div>
    </div>
</template>

<template name='buttonunsubscribe'>
    <div class="ui grey dtube button unsubscribe" tabindex="0">
        <div style="display:inline-block;padding: 0.8em 1em;">
            {{ translate 'VIDEO_UNSUBSCRIBE'}}
        </div>
        <div class="ui label btnlabel">
            {{{subCount info.author}}}
        </div>
    </div>
</template>

<template name='buttoneditprofile'>
    <a href="/editprofile">
        <div class="ui right labeled icon button blue dtube" style="float:right;margin-right: 10px !important;">
            <div style="display:inline-block;padding: 0.8em 1em;">
                {{ translate 'CHANNEL_EDIT_MY_PROFIL'}}
            </div>
            <i class="icon edit blue" style="background:white;opacity:1;"></i>
        </div>
    </a>
</template>

<template name='buttonlogin'>
    <a href="/login">
        <div class="ui right labeled icon button red dtube pos-rel">
            <div style="display:inline-block;padding: 0.8em 1em;">
                {{ translate "TOPBAR_LOGIN"}}
            </div>
            <i class="icon sign in red" style="background:white;opacity:1;"></i>
        </div>
    </a>
</template>

<template name='buttonedit'>
    <div class="ui right labeled icon button red editvideo dtube pos-rel">
        <div style="display:inline-block;padding: 0.8em 1em;">
            {{ translate 'VIDEO_EDIT'}}
        </div>
        <i class="icon edit red" style="background:white;opacity:1;"></i>
    </div>
</template>