<template name='videosnapslider'>
  {{#unless isVideoHidden this}}
  <div class='videosnap wid-ful' style="max-width:210px;">
    <a href='/v/{{info.author}}/{{info.permlink}}' title='{{info.title}}'>
      <div id='snaphover' class='videosnapsnap wid-ful' style="height:118px;">
        <div class="pos-abs wid-ful" style="z-index:1;height:118px;">
        {{#if info.duration}} 
          <span class="videosnapduration">{{durationDisplay info.duration}}</span>
        {{/if}}
        {{#if equals source 'wakaArticles'}}
        {{#if isOnWatchAgain}}
        <div id="remove" class="remove snapbutton pos-abs" title='Stop sharing {{info.title}}' style="float: right;right: 5px;background: black;top: 5px;border-radius: 4px;opacity: 0.9;">
          <i class="remove icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
              <span style="z-index:9000;"></span>
            </i>
          </div>
          {{/if}} 
          {{else}}
          {{#if isInWatchLater}} 
          <div id="watchlater" class="watchlater snapbutton right floated pos-abs dsp-non" title='Remove from Watch later' style="float: right;right: 5px;background: black;top: 5px;border-radius: 4px;opacity: 0.9;z-index:999;">
              <i class="checkmark icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
                  <span style="z-index:9000;"></span>
                </i>
              </div>
          {{else}}
          <div id="watchlater" class="addwatchlater snapbutton right floated pos-abs dsp-non" title='Watch later' style="float: right;right: 5px;background: black;top: 5px;border-radius: 4px;opacity: 0.9;z-index:999;">
              <i class="time icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
                  <span style="z-index:9000;"></span>
                </i>
              </div>
              {{/if}} 
        {{/if}} 
        <div id="snapload" class="ui snaploader pos-abs wid-ful" style="z-index:-1;background-color: rgba(167, 167, 167, 0.85);height:118px;display: block;text-align: center;">
            <i class="icon photo nosnap" style="font-size:28px;margin-top:40px;"></i>
            <div class="ui text nosnap" style="margin-top:10px;">{{translate 'SNAP_MISSING_IMAGE'}}</div>
          </div> 
          <img id="snapimg" hash="{{info.snaphash}}" class="sprite owl-lazy" data-src="{{ipfsSrc info.snaphash}}" width="100%" height="100%" style="max-height:118px;" alt="" >
         <!--<img id="snapimg" hash="{{info.snaphash}}" class="sprite owl-lazy" onload="/*console.log('test');console.log(Template.ipfsSrc(info.snaphash, this));*/" data-src="{{ipfsSrc info.snaphash}}" width="100%" height="100%" style="max-height:118px;" alt="" >
        <script>var me = document.getElementById("snapimg");console.log(me.getAttribute("hash"));Template.ipfsSrc(me.getAttribute("hash"), me);</script> -->
      </div>
        <br>
      </div>
    </a>
    <div class="boxdisplayer">
      <div class='videosnaptitle'>
        <a href='/v/{{info.author}}/{{info.permlink}}'>
          <span class="customtitlelink">{{info.title}}</span>
        </a>
      </div>
    </div>
    <div class='videosnapauthor'>
      <a href='/c/{{info.author}}'>
        <span class="customlink">{{info.author}}</span>
      </a>
      {{#if isResteemed reblogged_by}}
      <i class="retweet icon reblogged"></i>
      <div class="ui right center inverted flowing popup reblogged">
        <div class="ui mini middle aligned divided list">
          {{#each reblogged_by}}
                <div class="ui item"><a href='/c/{{this}}'>
                    <div class="content">
                        <div class="header">
                          {{this}}
                        </div>
                    </div>
                </a></div>
            {{/each}}
        </div>
    </div>
      {{/if}}
    </div>
    <div class='videosnapdetails'>
        {{#if displayPayout pending_payout_value total_payout_value curator_payout_value}}
      <div class='videosnaprest'>
          ${{displayPayout pending_payout_value total_payout_value curator_payout_value}}
      </div>
      {{/if}}
      {{#if created}}
      <div class='videosnaptime'>
        {{timeAgo created}}
      </div>
      {{/if}}
    </div>
    {{ticker}}
  </div>
  {{/unless}}
</template>